*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:purple;
    height: 100%;
}

main{
    width:60%;
    margin: auto;
}

.rbox{
    width: 200px;
    height:200px;
    margin: 25px;
    margin-left: 65px;
    border: 3px solid yellow;
    position: relative;
    background-image: url(roma.jpg);
    background-size: cover;
}

.cbox{
    width: 200px;
    height:200px;
    margin: 25px;
    margin-left: 65px;
    border: 3px solid yellow;
    background-image: url(copenaghen.jpg);
    background-size: cover;
    position: relative;
}

.tbox{
    width: 200px;
    height:200px;
    margin: 25px;
    margin-left: 65px;
    border: 3px solid yellow;
    background-image: url(tokyo.jpg);
    background-size: cover;
    position: relative;
}

.testo{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: black;
}
